@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body, html,.css-text-146c3p1 {
    font-family: "Nanum Gothic";
    font-weight: 400;
    font-style: normal;
}